[Desktop Entry]
Name=KDE Connect
Name[ml]=കെ.ഡി.ഇ കണക്റ്റ്
Comment=Show notifications from your devices using KDE Connect

Icon=kdeconnect
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=Hardware
X-Plasma-ConfigPlugins=kcm_kdeconnect

X-KDE-PluginInfo-Author=Albert Vaca Cintora
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=org.kde.kdeconnect
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://albertvaka.wordpress.com
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
