[Desktop Entry]
Name=KdeConnect
Name[bs]=Kde konekcija
Name[cs]=KdeConnect
Name[da]=KdeConnect
Name[de]=KdeConnect
Name[es]=KdeConnect
Name[fr]=KdeConnect
Name[hu]=KdeConnect
Name[it]=KdeConnect
Name[ko]=KdeConnect
Name[nl]=KdeConnect
Name[pl]=KdeConnect
Name[pt]=KDEConnect
Name[pt_BR]=KdeConnect
Name[ro]=KdeConnect
Name[ru]=KdeConnect
Name[sk]=KdeConnect
Name[sv]=KDE anslut
Name[tr]=KdeConnect
Name[uk]=KdeConnect
Name[x-test]=xxKdeConnectxx
Comment=Show notifications from your devices using KDE Connect
Comment[bs]=Prikaži obavlještenja sa uređaja koji koriste KDE konekciju
Comment[cs]=Zobrazit upozornění z vašich zařízení pomocí KDE Connect
Comment[da]=Vis bekendtgørelser fra dine enheder med KDE Connect
Comment[de]=Zeigt Benachrichtigungen von Ihren Geräten mit KDE-Connect
Comment[es]=Mostrar notificaciones de sus dispositivos usando KDE Connect
Comment[fr]=Afficher les notifications provenant de vos périphériques à l'aide de KDE Connect
Comment[hu]=Az eszközökről származó értesítések megjelenítése a KDE csatlakozás használatával
Comment[it]=Mostra le notifiche dei tuoi dispositivi tramite KDE Connect
Comment[ko]=KDE Connect로 장치에 표시된 알림 보기
Comment[nl]=Meldingen van uw apparaten met KDE Connect tonen
Comment[pl]=Pokaż powiadomienia ze swoich urządzeń przy użyciu KDE Connect
Comment[pt]=Mostrar notificações dos seus dispositivos usando o KDE Connect
Comment[pt_BR]=Mostrar notificações dos seus dispositivos usando o KDE Connect
Comment[ru]=Показывать уведомления от устройств с помощью KDE Connect
Comment[sk]=Zobraziť oznámenia z vašich zariadení pomocou KDE Connect
Comment[sv]=Visa underrättelser från apparater med KDE anslut
Comment[tr]=KDE Bağlan kullanılarak cihazınızdan bildirimleri görüntüleyin
Comment[uk]=Показ сповіщень з ваших пристроїв за допомогою програми «З’єднання KDE»
Comment[x-test]=xxShow notifications from your devices using KDE Connectxx

Icon=kdeconnect
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/kdeconnect.qml
X-Plasma-NotificationArea=true
X-Plasma-ConfigPlugins=kcm_kdeconnect

X-KDE-PluginInfo-Author=Albert Vaca Cintora
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
