[Desktop Entry]
Name=Run command
Name[ca]=Executa una ordre
Name[ca@valencia]=Executa una ordre
Name[cs]=Spustit příkaz
Name[de]=Befehl ausführen
Name[en_GB]=Run command
Name[es]=Ejecutar orden
Name[fi]=Suorita komento
Name[fr]=Exécuter une commande
Name[gl]=Executar unha orde
Name[it]=Esegui comando
Name[ko]=명령 실행
Name[lt]=Vykdyti komandą
Name[nl]=Commando uitvoeren
Name[nn]=Køyr kommando
Name[pl]=Wykonywanie poleceń
Name[pt]=Executar um comando
Name[pt_BR]=Executar comando
Name[sk]=Spustiť príkaz
Name[sv]=Kör kommando
Name[uk]=Виконати команду
Name[x-test]=xxRun commandxx
Name[zh_CN]=运行命令
Name[zh_TW]=執行指令
Comment=Run commands on connected devices
Comment[ca]=Executa les ordres als dispositius connectats
Comment[ca@valencia]=Executa les ordres als dispositius connectats
Comment[cs]=Spustit příkazy na připojených zařízeních
Comment[en_GB]=Run commands on connected devices
Comment[es]=Ejecutar órdenes en los dispositivos conectados
Comment[fi]=Suorita komentoja yhdistetyillä laitteilla
Comment[fr]=Exécuter des commandes sur les périphériques connectés
Comment[gl]=Executar ordes nos dispositivos conectados
Comment[it]=Esegue dei comandi sui dispositivi connessi
Comment[ko]=연결된 장치에서 명령 실행
Comment[lt]=Vykdyti komandas prijungtuose įrenginiuose
Comment[nl]=Commando's op verbonden apparaten uitvoeren
Comment[nn]=Køyr kommandoar på tilkopla einingar
Comment[pl]=Wykonuje polecenia na podłączonych urządzeniach
Comment[pt]=Executar comandos nos dispositivos ligados
Comment[pt_BR]=Executa comandos nos dispositivos conectados
Comment[sk]=Spustiť príkaz na pripojených zariadeniach
Comment[sv]=Kör kommando på anslutna apparater
Comment[uk]=Виконання команд на з'єднаних пристроях
Comment[x-test]=xxRun commands on connected devicesxx
Comment[zh_CN]=在连接的设备上运行命令
Comment[zh_TW]=在連結的裝置上執行指令
Icon=kdeconnect
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=krunner_kdeconnect_remotecommands
X-KDE-PluginInfo-Author=Nicolas Fella
X-KDE-PluginInfo-Email=nicolas.fella@gmx.de
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
