[Desktop Entry]
Name=Run command
Name[ca]=Executa una ordre
Name[gl]=Executar unha orde
Name[nl]=Commando uitvoeren
Name[pt]=Executar um comando
Name[sv]=Kör kommando
Name[uk]=Виконати команду
Name[x-test]=xxRun commandxx
Comment=Run commands on connected devices
Comment[ca]=Executa les ordres als dispositius connectats
Comment[gl]=Executar ordes nos dispositivos conectados
Comment[nl]=Commando's op verbonden apparaten uitvoeren
Comment[pt]=Executar comandos nos dispositivos ligados
Comment[sv]=Kör kommando på anslutna apparater
Comment[uk]=Виконання команд на з'єднаних пристроях
Comment[x-test]=xxRun commands on connected devicesxx
Icon=kdeconnect
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=krunner_kdeconnect_remotecommands
X-KDE-PluginInfo-Author=Nicolas Fella
X-KDE-PluginInfo-Email=nicolas.fella@gmx.de
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
