[Desktop Entry]
Name=Run command
Name[ca]=Executa una ordre
Name[ca@valencia]=Executa una ordre
Name[cs]=Spustit příkaz
Name[es]=Ejecutar orden
Name[gl]=Executar unha orde
Name[it]=Esegui comando
Name[nl]=Commando uitvoeren
Name[nn]=Køyr kommando
Name[pt]=Executar um comando
Name[pt_BR]=Executar comando
Name[sk]=Spustiť príkaz
Name[sv]=Kör kommando
Name[uk]=Виконати команду
Name[x-test]=xxRun commandxx
Name[zh_TW]=執行指令
Comment=Run commands on connected devices
Comment[ca]=Executa les ordres als dispositius connectats
Comment[ca@valencia]=Executa les ordres als dispositius connectats
Comment[cs]=Spustit příkazy na připojených zařízeních
Comment[es]=Ejecutar órdenes en los dispositivos conectados
Comment[gl]=Executar ordes nos dispositivos conectados
Comment[it]=Esegue dei comandi sui dispositivi connessi
Comment[nl]=Commando's op verbonden apparaten uitvoeren
Comment[nn]=Køyr kommandoar på tilkopla einingar
Comment[pt]=Executar comandos nos dispositivos ligados
Comment[pt_BR]=Executa comandos nos dispositivos conectados
Comment[sk]=Spustiť príkaz na pripojených zariadeniach
Comment[sv]=Kör kommando på anslutna apparater
Comment[uk]=Виконання команд на з'єднаних пристроях
Comment[x-test]=xxRun commands on connected devicesxx
Comment[zh_TW]=在連結的裝置上執行指令
Icon=kdeconnect
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=krunner_kdeconnect_remotecommands
X-KDE-PluginInfo-Author=Nicolas Fella
X-KDE-PluginInfo-Email=nicolas.fella@gmx.de
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
