[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_telephony
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_telephony
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=call-start
Name=Telephony integration
Name[de]=Telefon-Integration
Name[es]=Integración de telefonía
Name[nl]=Telefoonintegratie
Name[pt]=Integração telefónica
Name[pt_BR]=Integração telefônica
Name[sv]=Integrering av telefoni
Name[uk]=Інтеграція з системою телефонії
Name[x-test]=xxTelephony integrationxx
Comment=Show notifications for calls and SMS (answering coming soon)
Comment[de]=Zeigt Benachrichtigungen für Anrufe und SMS
Comment[es]=Mostrar notificaciones de llamadas y SMS (en breve se podrá responder)
Comment[nl]=Meldingen tonen van oproepen en SMSjes (beantwoorden komt spoedig)
Comment[pt]=Mostrar notificações para as chamadas e SMS's (resposta em breve)
Comment[pt_BR]=Mostra notificações para chamadas e SMS (resposta em breve)
Comment[sv]=Visa underrättelser om samtal och SMS (att svara kommer snart)
Comment[uk]=Показ сповіщень щодо дзвінків і SMS (скоро буде реалізовано і автовідповідач)
Comment[x-test]=xxShow notifications for calls and SMS (answering coming soon)xx
