[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_telephony
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_telephony
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=call-start
Name=Telephony integration
Name[de]=Telefon-Integration
Name[es]=Integración de telefonía
Name[fr]=Intégration de la téléphonie
Name[hu]=Telefon integráció
Name[it]=Integrazione telefono
Name[nl]=Telefoonintegratie
Name[pt]=Integração telefónica
Name[pt_BR]=Integração telefônica
Name[ru]=Интеграция телефонии
Name[sv]=Integrering av telefoni
Name[tr]=Telefon tümleştirmesi
Name[uk]=Інтеграція з системою телефонії
Name[x-test]=xxTelephony integrationxx
Comment=Show notifications for calls and SMS (answering coming soon)
Comment[de]=Zeigt Benachrichtigungen für Anrufe und SMS
Comment[es]=Mostrar notificaciones de llamadas y SMS (en breve se podrá responder)
Comment[fr]=Affichez les notifications pour les appelles et les SMS (la réponse arrive bientôt)
Comment[hu]=Értesítések megjelenítése hívásokhoz és SMS-ekhez (a fogadásuk hamarosan)
Comment[it]=Mostra le notifiche di chiamate ed SMS (a breve anche per rispondere)
Comment[nl]=Meldingen tonen van oproepen en SMSjes (beantwoorden komt spoedig)
Comment[pt]=Mostrar notificações para as chamadas e SMS's (resposta em breve)
Comment[pt_BR]=Mostra notificações para chamadas e SMS (resposta em breve)
Comment[ru]=Показывать уведомления о звонках и SMS (ответы на звонки тоже скоро будут доступны)
Comment[sv]=Visa underrättelser om samtal och SMS (att svara kommer snart)
Comment[tr]=Çağrı ve SMS'ler için bildirim göster (yanıtlama yakında geliyor)
Comment[uk]=Показ сповіщень щодо дзвінків і SMS (скоро буде реалізовано і автовідповідач)
Comment[x-test]=xxShow notifications for calls and SMS (answering coming soon)xx

X-KdeConnect-SupportedPackageType=kdeconnect.telephony
