# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

# Include scripts from https://invent.kde.org/sysadmin/ci-utilities
# which run on Docker images from https://invent.kde.org/sysadmin/ci-images
# The macOS build is only signed and notarized for the stable branch builds, as specified in:
# https://invent.kde.org/sysadmin/ci-utilities/-/blob/master/signing/macappsigner-projects.yaml
# and https://invent.kde.org/sysadmin/ci-utilities/-/blob/master/signing/macappnotarizer-projects.yaml
include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/linux-qt6.yml
      - /gitlab-templates/linux-qt6-next.yml
      - /gitlab-templates/freebsd-qt6.yml
      - /gitlab-templates/windows-qt6.yml
      - /gitlab-templates/clang-format.yml
      - /gitlab-templates/craft-windows-x86-64-qt6.yml
      - /gitlab-templates/craft-windows-appx-qt6.yml
      - /gitlab-templates/xml-lint.yml
      - /gitlab-templates/yaml-lint.yml
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/craft-macos-x86-64-qt6.yml
      - /gitlab-templates/craft-macos-arm64-qt6.yml
    rules:
      - if: $CI_COMMIT_BRANCH =~ /^release\//
        when: never
