/build*/
clang
*.kdev4
Makefile
lib
src/Makefile
src/*_automoc.cpp*
src/moc_*.cpp
CMakeTmp
CMakeFiles
KDEConnect.config
KDEConnect.creator
KDEConnect.files
KDEConnect.includes
.directory
*.qmlc
*.rej
.vscode
.github/workflows/*

# Eclipse settings
.cproject
.project
.settings/*

CMakeLists.txt.user
.DS_Store

.clang-format
/compile_commands.json
.clangd
.cache
.idea
/cmake-build*
app/resources.generated.qrc
smsapp/resources.generated.qrc
