# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

# Include scripts from https://invent.kde.org/sysadmin/ci-utilities
# which run on Docker images from https://invent.kde.org/sysadmin/ci-images
include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/linux-qt6.yml
      - /gitlab-templates/freebsd-qt6.yml
      - /gitlab-templates/windows-qt6.yml
      - /gitlab-templates/clang-format.yml
      - /gitlab-templates/craft-windows-x86-64-qt6.yml
      - /gitlab-templates/craft-windows-appx-qt6.yml
      - /gitlab-templates/craft-macos-x86-64-qt6.yml
      - /gitlab-templates/craft-macos-arm64-qt6.yml
