[Desktop Entry]
Name=KDE Connect
Comment=Reach out to your devices
Exec=plasmawindowed org.kde.kdeconnect --statusnotifier
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network

NotShowIn=KDE;Plasma

