[Desktop Entry]
Name=KDE Connect
Name[bg]=KDE Connect
Name[bs]=Konekcija KDE
Name[ca]=KDE Connect
Name[cs]=KDE Connect
Name[da]=KDE Connect
Name[de]=KDE-Connect
Name[en_GB]=KDE Connect
Name[es]=KDE Connect
Name[fi]=KDE Connect
Name[fr]=KDE Connect
Name[gl]=KDE Connect
Name[hu]=KDE csatlakozás
Name[it]=KDE Connect
Name[ko]=KDE Connect
Name[nl]=KDE Connect
Name[pl]=KDE Connect
Name[pt]=KDE Connect
Name[pt_BR]=KDE Connect
Name[ro]=KDE Connect
Name[ru]=KDE Connect
Name[sk]=KDE Connect
Name[sv]=KDE anslut
Name[tr]=KDE Bağlan
Name[uk]=З’єднання KDE
Name[x-test]=xxKDE Connectxx
Name[zh_CN]=KDE Connect
Comment=Reach out to your devices
Comment[bg]=Достигане до устройствата ви
Comment[ca]=Connecteu amb els vostres dispositius
Comment[cs]=Dosáhněte na svá zařízení
Comment[de]=Zugriff auf Ihre Geräte
Comment[en_GB]=Reach out to your devices
Comment[es]=Contactar con sus dispositivos
Comment[fi]=Tavoitettavuutta laitteillesi
Comment[gl]=Chega aos teus dispositivos.
Comment[hu]=Érje el eszközeit
Comment[it]=Comunica con i tuoi dispositivi
Comment[nl]=maak verbinding met uw apparaten
Comment[pl]=Uzyskaj dostęp do swoich urządzeń
Comment[pt]=Aceda aos seus dispositivos
Comment[pt_BR]=Acesse seus dispositivos
Comment[sk]=Oslovenie vašich zariadení
Comment[sv]=Kontakta dina apparater
Comment[tr]=Aygıtlarınıza erişin
Comment[uk]=З’єднатися з вашими пристроями
Comment[x-test]=xxReach out to your devicesxx
Comment[zh_CN]=连接到您的设备
Exec=plasmawindowed org.kde.kdeconnect --statusnotifier
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network;

NotShowIn=KDE;Plasma;

