[Desktop Entry]
Name=KDE Connect Monitor
Name[ca]=Controlador del KDE Connect
Name[cs]=Monitor KDE Connect
Name[en_GB]=KDE Connect Monitor
Name[es]=Monitor de KDE Connect
Name[fi]=KDE Connect -valvonta
Name[hu]=KDE Connect monitor
Name[it]=Monitor di KDE Connect
Name[nl]=KDE-Connectmonitor
Name[pl]=Monitor KDE Connect
Name[pt]=Monitor do KDE Connect
Name[pt_BR]=Monitor do KDE Connect
Name[sv]=KDE-anslut övervakning
Name[tr]=KDE Bağlantı İzleyicisi
Name[uk]=Монітор KDE Connect
Name[x-test]=xxKDE Connect Monitorxx
Name[zh_CN]=KDE Connect 监视器
Comment=Display information about your devices
Comment[ca]=Mostra la informació dels vostres dispositius
Comment[cs]=Zobrazit informace o vašich zařízeních
Comment[en_GB]=Display information about your devices
Comment[es]=Mostrar información sobre sus dispositivos
Comment[fi]=Näyttää tietoa laitteistasi
Comment[hu]=Információk megjelenítése az eszközeiről
Comment[it]=Visualizza informazioni sui tuoi dispositivi
Comment[nl]=Toon informatie over uw apparaten
Comment[pl]=Wyświetl informacje o twoich urządzeniach
Comment[pt]=Mostrar informações sobre os seus dispositivos
Comment[pt_BR]=Mostra informações sobre seus dispositivos
Comment[sv]=Visa information om enheter
Comment[tr]=Aygıtlarınız hakkında bilgi görüntüleyin
Comment[uk]=Показати дані щодо ваших пристроїв
Comment[x-test]=xxDisplay information about your devicesxx
Comment[zh_CN]=显示您设备的信息
Exec=plasmawindowed org.kde.kdeconnect --statusnotifier
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network;
NotShowIn=KDE;

