[Desktop Entry]
Name=KDE Connect Monitor
Comment=Display information about your devices
Exec=plasmawindowed org.kde.kdeconnect --statusnotifier
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network;
NotShowIn=KDE;

