[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_screensaver_inhibit
X-KDE-PluginInfo-Author=Pramod Dematagoda
X-KDE-PluginInfo-Email=pmdematagoda@mykolab.ch
X-KDE-PluginInfo-Name=kdeconnect_screensaver_inhibit
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=preferences-desktop-screensaver
Name=Inhibit screensaver
Name[ca]=Inhibeix l'estalvi de pantalla
Name[cs]=Potlačit spořič
Name[da]=Forhindr pauseskærm
Name[es]=Inhibir salvapantallas
Name[fi]=Estä näytönsäästäjän käynnistyminen
Name[ko]=화면 보호기 막기
Name[nl]=Schermbeveiliging tegenhouden
Name[pl]=Powstrzymaj wygaszacz ekranu
Name[pt]=Inibir o protector de ecrã
Name[pt_BR]=Inibir o protetor de tela
Name[sk]=Obmedziť šetrič obrazovky
Name[sv]=Stoppa skärmsläckare
Name[uk]=Заборона зберігача екрана
Name[x-test]=xxInhibit screensaverxx
Comment=Inhibit the screensaver when the device is connected
Comment[ca]=Inhibeix l'estalvi de pantalla quan es connecta el dispositiu
Comment[cs]=Potlačit spořič pokud je zařízení připojeno
Comment[da]=Forhindr pauseskærm når enheden er tilsluttet
Comment[es]=Inhibir el salvapantallas cuando el dispositivo está conectado
Comment[fi]=Estä näytönsäästäjän käynnistyminen, kun laite on yhteydessä
Comment[ko]=장치가 연결되어 있을 때 화면 보호기 실행 막기
Comment[nl]=Houdt de schermbeveiliging tegen wanneer het apparaat is verbonden
Comment[pl]=Powstrzymaj wygaszacz ekrany po podłączeniu urządzenia
Comment[pt]=Inibir o protector de ecrã quando o dispositivo é ligado
Comment[pt_BR]=Inibir o protetor de tela quando o dispositivo estiver conectado
Comment[sk]=Obmedziť šetrič obrazovky keď je pripojené zariadenie
Comment[sv]=Stoppa skärmsläckaren när apparaten ansluts
Comment[uk]=Забороняє зберігач екрана, якщо з’єднано пристрій
Comment[x-test]=xxInhibit the screensaver when the device is connectedxx
