[Desktop Entry]
Name= Find my device
Name[ca]= Troba el meu dispositiu
Name[ca@valencia]= Troba el meu dispositiu
Name[es]=Encontrar mi dispositivo
Name[gl]=Atopar o meu dispositivo
Name[nl]= Zoek mijn apparaat
Name[pt]= Procurar o meu dispositivo
Name[sv]=Hitta min apparat
Name[uk]=Знайти пристрій
Name[x-test]=xx Find my devicexx
Comment=Ring connected devices
Comment[ca]=Fa sonar als dispositius connectats
Comment[ca@valencia]=Fa sonar als dispositius connectats
Comment[es]=Hacer sonar los dispositivos conectados
Comment[gl]=Facer soar os dispositivos conectados
Comment[nl]=Bel verbonden apparaten
Comment[pt]=Tocar os dispositivos ligados
Comment[sv]=Ring anslutna apparater
Comment[uk]=Дзвінок на з'єднаних пристроях
Comment[x-test]=xxRing connected devicesxx
Icon=kdeconnect
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=krunner_kdeconnect_findmyphone
X-KDE-PluginInfo-Author=Nicolas Fella
X-KDE-PluginInfo-Email=nicolas.fella@gmx.de
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
