[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_sharereceiver
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_sharereceiver
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=folder-downloads
Name=Share receiver
Name[nl]=Ontvanger delen
Name[pt]=Destinatário da partilha
Name[pt_BR]=Destinatário do compartilhamento
Name[sv]=Dela mottagare
Name[uk]=Отримання спільних даних
Name[x-test]=xxShare receiverxx
Comment=Receive files and URLs shared from your phone
Comment[nl]=Ontvangen bestanden en URL's gedeeld met uw telefoon
Comment[pt]=Receber os ficheiros e URL's partilhados a partir do seu telefone
Comment[pt_BR]=Recebe os arquivos e URLs compartilhados a partir do seu telefone
Comment[sv]=Ta emot filer och webbadresser att dela från din telefon
Comment[uk]=Отримання файлів та адрес, наданих у спільне користування з вашого телефону
Comment[x-test]=xxReceive files and URLs shared from your phonexx
