[Desktop Entry]
Exec=kcmshell5 kcm_kdeconnect
Icon=kdeconnect
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kdeconnect
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware

Name=KDE Connect
Name[ar]=كدي المتّصل
Name[ast]=KDE Connect
Name[bg]=KDE Connect
Name[bs]=Konekcija KDE
Name[ca]=KDE Connect
Name[ca@valencia]=KDE Connect
Name[cs]=KDE Connect
Name[da]=KDE Connect
Name[de]=KDE-Connect
Name[el]=KDE Connect
Name[en_GB]=KDE Connect
Name[es]=KDE Connect
Name[et]=KDE Connect
Name[eu]=KDE Connect
Name[fi]=KDE Connect
Name[fr]=KDE Connect
Name[gl]=KDE Connect
Name[he]=KDE Connect
Name[hu]=KDE csatlakozás
Name[it]=KDE Connect
Name[ko]=KDE Connect
Name[nl]=KDE Connect
Name[nn]=KDE Connect
Name[pl]=KDE Connect
Name[pt]=KDE Connect
Name[pt_BR]=KDE Connect
Name[ro]=KDE Connect
Name[ru]=KDE Connect
Name[sk]=KDE Connect
Name[sr]=КДЕ‑конекција
Name[sr@ijekavian]=КДЕ‑конекција
Name[sr@ijekavianlatin]=KDE‑konekcija
Name[sr@latin]=KDE‑konekcija
Name[sv]=KDE-anslut
Name[tr]=KDE Connect
Name[uk]=З’єднання KDE
Name[x-test]=xxKDE Connectxx
Name[zh_CN]=KDE Connect
Name[zh_TW]=KDE 連線

Comment=Connect and sync your devices
Comment[ar]=اتّصل وزامن أجهزتك
Comment[ast]=Coneuta y sincroniza los tos preseos
Comment[ca]=Connecta i sincronitza els vostres dispositius
Comment[ca@valencia]=Connecta i sincronitza els vostres dispositius
Comment[cs]=Připojte a synchronizujte svá zařízení
Comment[da]=Forbind og synkronisér dine enheder
Comment[de]=Verbinden und Abgleichen Ihrer Geräte
Comment[el]=Σύνδεση και συγχρονισμός των συσκευών σας
Comment[en_GB]=Connect and sync your devices
Comment[es]=Conecte y sincronice sus dispositivos
Comment[et]=Oma seadmete ühendamine ja sünkroonimine
Comment[eu]=Konektatu eta sinkronizatu zure gailuak
Comment[fi]=Yhdistä ja synkronoi laitteitasi
Comment[fr]=Connectez et synchronisez vos périphériques
Comment[gl]=Conecte e sincronice os seus dispositivos.
Comment[he]=חבר וסנכרן את ההתקנים שלך
Comment[hu]=Csatlakoztassa és szinkronizálja eszközeit
Comment[it]=Connetti e sincronizza i tuoi dispositivi
Comment[ko]=내 장치에 연결하고 동기화
Comment[nl]=Uw apparaten verbinden en synchroniseren
Comment[nn]=Kopla til og synkroniser einingar
Comment[pl]=Podłącz i zsynchronizuj swoje urządzenia
Comment[pt]=Ligue e sincronize os seus dispositivos
Comment[pt_BR]=Conecta e sincroniza seus dispositivos
Comment[ru]=Подключение и синхронизация с мобильными устройствами
Comment[sk]=Pripojiť a synchronizovať vaše zariadenia
Comment[sr]=Повежите и синхронизујте своје уређаје
Comment[sr@ijekavian]=Повежите и синхронизујте своје уређаје
Comment[sr@ijekavianlatin]=Povežite i sinhronizujte svoje uređaje
Comment[sr@latin]=Povežite i sinhronizujte svoje uređaje
Comment[sv]=Anslut och synkronisera dina apparater
Comment[tr]=Aygıtlarınıza bağlanın ve eşitleyin
Comment[uk]=З’єднання і синхронізація ваших пристроїв
Comment[x-test]=xxConnect and sync your devicesxx
Comment[zh_CN]=连接并同步您的设备
Comment[zh_TW]=連線並且同步您的裝置

X-KDE-Keywords=Network,Android,Devices
X-KDE-Keywords[ar]=شبكة,أندرويد,اندرويد,جهاز,أجهزة
X-KDE-Keywords[ast]=Rede,Android,Preseos
X-KDE-Keywords[bg]=Мрежа,Андроид,Устройства
X-KDE-Keywords[bs]=Mreža,Android,Uređaji
X-KDE-Keywords[ca]=Xarxa,Android,Dispositius
X-KDE-Keywords[ca@valencia]=Xarxa,Android,Dispositius
X-KDE-Keywords[cs]=Síť,Android,Zařízení
X-KDE-Keywords[da]=Netværk,Android,Enheder
X-KDE-Keywords[de]=Netzwerk,Android,Geräte
X-KDE-Keywords[el]=Δίκτυο,Android,Συσκευές
X-KDE-Keywords[en_GB]=Network,Android,Devices
X-KDE-Keywords[es]=Red,Android,Dispositivos
X-KDE-Keywords[et]=Võrk,Android,Seadmed
X-KDE-Keywords[eu]=Sarea,Android,Gailuak
X-KDE-Keywords[fi]=Verkko,Android,Laitteet
X-KDE-Keywords[fr]=Réseau,Android,Périphériques
X-KDE-Keywords[gl]=rede,Android,dispositivos
X-KDE-Keywords[he]=Network,Android,Devices,רשתות,אנדרואיד,התקנים,מכשירים
X-KDE-Keywords[hu]=Hálózat,Android,Eszközök
X-KDE-Keywords[it]=Rete,Android,Dispositivi
X-KDE-Keywords[ko]=Network,Android,Devices,네트워크,안드로이드,장치
X-KDE-Keywords[nl]=Netwerk,Android,Apparaten
X-KDE-Keywords[nn]=nettverk,Android,einingar,smarttelefon
X-KDE-Keywords[pl]=Sieć,Android,Urządzenia
X-KDE-Keywords[pt]=Rede,Android,Dispositivos
X-KDE-Keywords[pt_BR]=Rede,Android,Dispositivos
X-KDE-Keywords[ru]=Network,Android,Devices,сеть,Андроид,устройства,мобильные устройства
X-KDE-Keywords[sk]=Sieť,Android,Zariadenia
X-KDE-Keywords[sr]=Network,Android,Devices,мрежа,Андроид,уређаји
X-KDE-Keywords[sr@ijekavian]=Network,Android,Devices,мрежа,Андроид,уређаји
X-KDE-Keywords[sr@ijekavianlatin]=Network,Android,Devices,mreža,Android,uređaji
X-KDE-Keywords[sr@latin]=Network,Android,Devices,mreža,Android,uređaji
X-KDE-Keywords[sv]=Nätverk, Android, apparater
X-KDE-Keywords[tr]=Ağ,Android,Cihazlar,Aygıtlar
X-KDE-Keywords[uk]=Network,Android,Devices,мережа,андроїд,пристрої
X-KDE-Keywords[x-test]=xxNetworkxx,xxAndroidxx,xxDevicesxx
X-KDE-Keywords[zh_CN]=Network,Android,Devices,网络,安卓,设备
X-KDE-Keywords[zh_TW]=網路，Android裝置，設備

X-DocPath=kdeconnect/index.html

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
