#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=kcmshell4 kcm_kdeconnect
Icon=smartphone
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kdeconnect
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware

Name=Devices
Name[cs]=Zařízení
Name[de]=Geräte
Name[es]=Dispositivos
Name[fr]=Périphériques
Name[hu]=Eszközök
Name[it]=Dispositivi
Name[nl]=Apparaten
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[ru]=Устройства
Name[sk]=Zariadenia
Name[sv]=Apparater
Name[tr]=Aygıtlar
Name[uk]=Пристрої
Name[x-test]=xxDevicesxx

Comment=Connect and sync your devices with KDE
Comment[de]=Verbinden und Abgleichen Ihrer Geräte mit KDE
Comment[es]=Conectar y sincronizar dispositivos con KDE
Comment[fr]=Connectez et synchronisez vos périphériques avec KDE
Comment[hu]=Eszközök csatlakoztatása és szinkronizálása a KDE-vel
Comment[it]=Connetti e sincronizza i tuoi dispositivi con KDE
Comment[nl]=Uw apparaten met KDE verbinden en synchroniseren
Comment[pt]=Ligue e sincronize os seus dispositivos com o KDE
Comment[pt_BR]=Conecta e sincroniza seus dispositivos com o KDE
Comment[ru]=Подключение и синхронизация устройств с KDE
Comment[sv]=Anslut och synkronisera dina apparater med KDE
Comment[tr]=Aygıtlarınıza KDE ile bağlanın ve eşitleyin
Comment[uk]=З’єднання і синхронізація ваших пристроїв з KDE
Comment[x-test]=xxConnect and sync your devices with KDExx

X-KDE-Keywords=Network,Android,Devices
X-KDE-Keywords[de]=Netzwerk,Android,Geräte
X-KDE-Keywords[es]=Red,Android,Dispositivos
X-KDE-Keywords[fr]=Réseau,Android,Périphériques
X-KDE-Keywords[hu]=Hálózat,Android,Eszközök
X-KDE-Keywords[it]=Rete,Android,Dispositivi
X-KDE-Keywords[nl]=Netwerk,Android,Apparaten
X-KDE-Keywords[pt]=Rede,Android,Dispositivos
X-KDE-Keywords[pt_BR]=Rede,Android,Dispositivos
X-KDE-Keywords[ru]=Network,Android,Devices,сеть,Андроид, устройства
X-KDE-Keywords[sk]=Sieť,Android,Zariadenia
X-KDE-Keywords[sv]=Nätverk, Android, apparater
X-KDE-Keywords[tr]=Ağ,Android,Cihazlar,Aygıtlar
X-KDE-Keywords[uk]=Network;Android;Devices;мережа;андроїд;пристрої
X-KDE-Keywords[x-test]=xxNetwork,Android,Devicesxx

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
