#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=kcmshell4 kcm_kdeconnect
Icon=smartphone
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kdeconnect
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware

Name=Devices

Comment=Connect and sync your devices with KDE

X-KDE-Keywords=Network,Android,Devices

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
