#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=kcmshell4 kdeconnect-kcm
Icon=applications-internet
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kdeconnect-kcm
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware

Name=KdeConnect

Comment=Connect your smartphone and your desktop

X-KDE-Keywords=Network,Android,Devices

Categories=Qt;KDE;X-KDE-settings-kdeconnect-kcm;
