[Desktop Entry]
Type=Application
Icon=kdeconnect
Terminal=false
Exec=kcmshell4 kcm_kdeconnect
Name=KDE Connect
Name[bs]=Konekcija KDE
Name[da]=KDE Connect
Name[de]=KDE Connect
Name[es]=KDE Connect
Name[fr]=KDE Connect
Name[hu]=KDE csatlakozás
Name[it]=KDE Connect
Name[nl]=KDE Connect
Name[pt]=KDE Connect
Name[pt_BR]=KDE Connect
Name[ru]=KDE Connect
Name[sk]=KDE Connect
Name[sv]=KDE anslut
Name[tr]=KDE Bağlan
Name[uk]=З’єднання KDE
Name[x-test]=xxKDE Connectxx
GenericName=Connect smartphones to your KDE Plasma Workspace
GenericName[de]=Verbindung von Smartphones mit demKDE-Plasma-Arbeitsbereich
GenericName[hu]=Okostelefonok csatlakoztatása a KDE Plasma munkaterülethez
GenericName[nl]=Smartphones verbinden met uw KDE Plasma werkruimte
GenericName[pt]=Ligue os 'smartphones' à sua Área de Trabalho do KDE
GenericName[pt_BR]=Conecte os smartphones ao Espaço de Trabalho Plasma do KDE
GenericName[sk]=Pripojiť smartfóny k vašej pracovnej ploche KDE Plasma
GenericName[sv]=Anslut smartphone till KDE Plasma arbetsyta
GenericName[uk]=З’єднання смартфонів з вашим робочим простором Плазми KDE
GenericName[x-test]=xxConnect smartphones to your KDE Plasma Workspacexx
Categories=Qt;KDE;Settings;HardwareSettings;
Hidden=true
