[Desktop Entry]
Type=Application
Icon=kdeconnect
Terminal=false
Exec=kcmshell5 kcm_kdeconnect
Name=KDE Connect Settings
Name[nl]=Instellingen van KDE Connect
Name[pt]=Configuração do KDE Connect
Name[sv]=Inställning av KDE-anslut
Name[x-test]=xxKDE Connect Settingsxx
GenericName=Connect and sync your devices
GenericName[fr]=Connectez et synchronisez vos périphériques
GenericName[nl]=Uw apparaten verbinden en synchroniseren
GenericName[pt]=Ligue e sincronize os seus dispositivos
GenericName[sv]=Anslut och synkronisera dina apparater
GenericName[x-test]=xxConnect and sync your devicesxx
Categories=Qt;KDE;Settings;HardwareSettings;
NotShowIn=KDE;
