[Desktop Entry]
Name=KDE Connect SMS
Name[ca]=SMS del KDE Connect
Name[ca@valencia]=SMS del KDE Connect
Name[nl]=KDE Connect SMS
Name[pt]=SMS do KDE Connect
Name[sv]=KDE-anslut SMS
Name[uk]=KDE Connect SMS
Name[x-test]=xxKDE Connect SMSxx
GenericName=SMS
GenericName[ca]=SMS
GenericName[ca@valencia]=SMS
GenericName[nl]=SMS
GenericName[pt]=SMS
GenericName[sv]=SMS
GenericName[uk]=SMS
GenericName[x-test]=xxSMSxx
Comment=Text Messaging
Comment[ca]=Missatgeria de text
Comment[ca@valencia]=Missatgeria de text
Comment[nl]=Tekstberichten versturen
Comment[pt]=Mensagem de Texto
Comment[sv]=Textmeddelanden
Comment[uk]=Обмін текстовими повідомленнями
Comment[x-test]=xxText Messagingxx
Exec=kdeconnect-sms
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network;InstantMessaging

X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kdeconnect.sms
