[Desktop Entry]
Type=Application
Icon=kdeconnect
Terminal=false
Exec=kdeconnect-settings
Name=KDE Connect Settings
GenericName=Connect and sync your devices
Categories=Qt;KDE;Settings;HardwareSettings;
NotShowIn=KDE;
