[Desktop Entry]
Type=Application
Icon=kdeconnect
Terminal=false
Exec=kdeconnect-settings
Name=KDE Connect Settings
Name[ar]=إعدادات كِيدِي المتّصل
Name[az]=KDE Connect Ayarları
Name[bg]=Настройки на KDE Connect
Name[ca]=Arranjament del KDE Connect
Name[ca@valencia]=Configureu KDE Connect
Name[cs]=Nastavení KDE Connect
Name[da]=Indstilling af KDE Connect
Name[de]=KDE Connect-Einstellungen
Name[el]=Ρυθμίσεις KDE Connect
Name[en_GB]=KDE Connect Settings
Name[eo]=KDE Connect-Agordojn
Name[es]=Ajustes de KDE Connect
Name[et]=KDE Connecti seadistused
Name[eu]=KDE Connect ezarpenak
Name[fi]=KDE Connectin asetukset
Name[fr]=Paramètres de KDEConnect
Name[gl]=Configuración de KDE Connect
Name[he]=הגדרות KDE Connect
Name[hi]=केडीई कनेक्ट सेटिंग्स
Name[hu]=A KDE Connect beállításai
Name[ia]=Preferentias de KDE Connect
Name[id]=Pengaturan KDE Connect
Name[is]=Stillingar KDE Connect
Name[it]=Impostazioni di KDE Connect
Name[ja]=KDE Connect の設定
Name[ka]=KDE Connect -ის მორგება
Name[ko]=KDE Connect 설정
Name[lt]=KDE Connect nuostatos
Name[lv]=„KDE Connect“ iestatījumi
Name[nl]=Instellingen van KDE Connect
Name[nn]=Innstillingar for KDE Connect
Name[pa]=KDE ਕਨੈਕਟ ਸੈਟਿੰਗਾਂ
Name[pl]=Ustawienia KDE Connect
Name[pt]=Configuração do KDE Connect
Name[pt_BR]=Configurações do KDE Connect
Name[ro]=Configurări KDE Connect
Name[ru]=Настройка KDE Connect
Name[sk]=Nastavenia aplikácie KDE Connect
Name[sl]=Nastavitve KDE Connect
Name[sr]=Поставке за КДЕ‑конекцију
Name[sr@ijekavian]=Поставке за КДЕ‑конекцију
Name[sr@ijekavianlatin]=Postavke za KDE‑konekciju
Name[sr@latin]=Postavke za KDE‑konekciju
Name[sv]=Inställning av KDE-anslut
Name[ta]=கே.டீ.யீ. கனெக்ட் அமைப்புகள்
Name[tr]=KDE Bağlan Ayarları
Name[uk]=Параметри KDE Connect
Name[x-test]=xxKDE Connect Settingsxx
Name[zh_CN]=KDE Connect 设置
Name[zh_TW]=KDE 連線設定
GenericName=Device Synchronization Settings
GenericName[bg]=Настройки на синхронизацията на устройство
GenericName[ca]=Paràmetres de sincronització de dispositius
GenericName[ca@valencia]=Paràmetres de sincronització de dispositius
GenericName[cs]=Nastavení synchronizace zařízení
GenericName[es]=Preferencias de sincronización de dispositivos
GenericName[eu]=Gailua sinkronizatzeko ezarpenak
GenericName[gl]=Configuración da sincronización de dispositivos
GenericName[he]=הגדרות סנכרון מכשירים
GenericName[it]=Impostazioni di sincronizzazione del dispositivo
GenericName[ka]=მოწყობილობის სინქრონიზაციის მორგება
GenericName[lt]=Įrenginių sinchronizavimo nuostatos
GenericName[nl]=Instellingen voor synchronisatie van apparaat
GenericName[nn]=Innstillingar for einingssynkronisering
GenericName[pl]=Ustawienia synchronizacji urządzenia
GenericName[sl]=Nastavitve sinhronizacijenaprav
GenericName[sv]=Inställning av enhetssynkronisering
GenericName[tr]=Aygıt Eşzamanlaması Ayarları
GenericName[uk]=Параметри синхронізації із пристроями
GenericName[x-test]=xxDevice Synchronization Settingsxx
GenericName[zh_CN]=设备同步设置
GenericName[zh_TW]=裝置同步設定
Comment=Configure device synchronization
Comment[bg]=Конфигуриране на синхронизирането на устройството
Comment[ca]=Configura la sincronització dels dispositius
Comment[ca@valencia]=Configura la sincronització dels dispositius
Comment[cs]=Nastavit synchronizaci zařízení...
Comment[es]=Configurar sincronización de dispositivos
Comment[eu]=Konfiguratu gailuaren sinkronizazioa
Comment[gl]=Configurar a sincronización de dispositivos.
Comment[he]=הגדרת סנכרון מכשירים
Comment[it]=Configura la sincronizzazione del dispositivo
Comment[ka]=მოწყობილობის სინქრონიზაციის მორგება
Comment[lt]=Konfigūruoti įrenginių sinchronizavimą
Comment[nl]=Synchronisatie van apparaat configureren
Comment[nn]=Set opp einingssynkronisering
Comment[pl]=Ustawienia synchronizacji urządzenia
Comment[sl]=Konfiguriraj sinhronizacijo naprav
Comment[sv]=Anpassa enhetssynkronisering
Comment[tr]=Aygıt eşzamanlamasını yapılandırın
Comment[uk]=Налаштовування синхронізації із пристроями
Comment[x-test]=xxConfigure device synchronizationxx
Comment[zh_CN]=配置设备同步
Comment[zh_TW]=設定裝置同步
Categories=Qt;KDE;Settings;HardwareSettings;
NotShowIn=KDE;
SingleMainWindow=true
