[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_ping
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_ping
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=dialog-ok
Name=Ping
Name[bs]=Ping
Name[cs]=Ping
Name[da]=Ping
Name[de]=Ping
Name[es]=Ping
Name[fr]=Commande « Ping »
Name[hu]=Ping
Name[it]=Ping
Name[nl]=Ping
Name[pt]=Pedido de Rede
Name[pt_BR]=Ping
Name[ru]=Пинг
Name[sk]=Ping
Name[sv]=Ping
Name[tr]=Ping
Name[uk]=Луна
Name[x-test]=xxPingxx
Comment=Send and receive pings
Comment[bs]=Šalji i primaj ping-ove
Comment[cs]=Posílat a přijímat ping
Comment[da]=Send og modtag ping
Comment[de]=Senden und Empfangen von Pings
Comment[es]=Enviar y recibir pings
Comment[fr]=Envoyez et recevez des « ping »
Comment[hu]=Pingek küldése és fogadása
Comment[it]=Invia e ricevi ping
Comment[nl]=Pings verzenden en ontvangen
Comment[pt]=Enviar e receber pedidos de rede
Comment[pt_BR]=Envia e recebe pings
Comment[ru]=Посылать и получать пинги
Comment[sk]=Poslať a prijať pingy
Comment[sv]=Skicka och ta emot ping
Comment[tr]=Ping gönder ve al
Comment[uk]=Надсилання і отримання сигналів підтримання зв’язку
Comment[x-test]=xxSend and receive pingsxx

X-KdeConnect-SupportedPackageType=kdeconnect.ping
