[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_pausemusic
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_pausemusic
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=speaker
Name=Pause media during calls
Name[pt]=Pausar os conteúdos durante as chamadas
Name[pt_BR]=Pausar os conteúdos multimídia durante as chamadas
Name[sv]=Pausa media under samtal
Name[uk]=Призупинка відтворення під час дзвінків
Name[x-test]=xxPause media during callsxx
Comment=Pause music/videos during a phone call
Comment[pt]=Pausar a música/vídeo durante uma chamada
Comment[pt_BR]=Pausa a música/vídeo durante uma chamada
Comment[sv]=Pausa musik eller videor under ett telefonsamtal
Comment[uk]=Призупинка відтворення музики і відео на час телефонних дзвінків
Comment[x-test]=xxPause music/videos during a phone callxx
