[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kdeconnect_pausemusic_config
X-KDE-ParentComponents=kdeconnect_pausemusic

Name=Pause Music plugin settings
Name[nl]=Plug-in-instellingen voor muziek pauzeren
Name[pt]=Configuração do 'plugin' de Pausa da Música
Name[pt_BR]=Pausar as configurações do plugin Músicas
Name[sv]=Inställningar av insticksprogram för paus i musik
Name[uk]=Параметри додатка призупинення відтворення музики
Name[x-test]=xxPause Music plugin settingsxx

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
