[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_mpriscontrol
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_mpriscontrol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=media-playback-start
Name=Multimedia control receiver
Name[pt]=Receptor de controlo multimédia
Name[pt_BR]=Receptor de controle multimídia
Name[sv]=Mottagare av multimediastyrning
Name[uk]=Отримувач команд щодо керування мультимедійними функціями
Name[x-test]=xxMultimedia control receiverxx
Comment=Remote control your music and videos
Comment[de]=Fernbedienung für Musik und Videos
Comment[pt]=Comande à distância a sua música e vídeos
Comment[pt_BR]=Controle suas músicas e vídeos remotamente
Comment[sv]=Fjärrstyr musik och videor
Comment[uk]=Віддалене керування відтворенням музики та відео
Comment[x-test]=xxRemote control your music and videosxx
