[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_mpriscontrol
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_mpriscontrol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=media-playback-start
Name=Multimedia control receiver
Name[bs]=Multimedijalni kontrolni primaoc
Name[da]=Modtager til multimediebetjening
Name[de]=Steuerung für Multimedia-Empfänger
Name[es]=Receptor de control multimedia
Name[fr]=Receveur de contrôle multimédia
Name[hu]=Multimédia vezérlés vevő
Name[it]=Ricevitore telecomando multimediale
Name[nl]=Ontvanger van bediening voor multimedia
Name[pt]=Receptor de controlo multimédia
Name[pt_BR]=Receptor de controle multimídia
Name[ru]=Ресивер аудио/видео
Name[sk]=Prijímač ovládania multimédií
Name[sv]=Mottagare av multimediastyrning
Name[tr]=Çoklu ortam denetim alıcısı
Name[uk]=Отримувач команд щодо керування мультимедійними функціями
Name[x-test]=xxMultimedia control receiverxx
Comment=Remote control your music and videos
Comment[bs]=Daljinsko upravljenje Vaše muzike i videa
Comment[da]=Fjernbetjening til din musik og dine videoer
Comment[de]=Fernbedienung für Musik und Videos
Comment[es]=Controle a distancia su música y sus vídeos
Comment[fr]=Contrôlez à distance votre musique et vos vidéos
Comment[hu]=Távirányító a zenékhez és videókhoz
Comment[it]=Controlla la riproduzione audio/video del pc dal telefono
Comment[nl]=Op afstand bedienen van uw muziek en video's
Comment[pt]=Comande à distância a sua música e vídeos
Comment[pt_BR]=Controle suas músicas e vídeos remotamente
Comment[ru]=Дистанционное управление музыкой и видео
Comment[sk]=Vzdialene ovládať vašu hudbu a videá
Comment[sv]=Fjärrstyr musik och videor
Comment[tr]=Müzik ve videonuzu uzaktan kontrol edin
Comment[uk]=Віддалене керування відтворенням музики та відео
Comment[x-test]=xxRemote control your music and videosxx

X-KdeConnect-SupportedPackageType=kdeconnect.mpris
