[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KdeConnect/Plugin
X-KDE-Derived=KPluginInfo
Name=KDEConnect Plugin

# mandatory, list of all the package types supported
[PropertyDef::X-KdeConnect-SupportedPackageType]
Type=QStringList

[PropertyDef::X-KdeConnect-OutgoingPackageType]
Type=QStringList
