[Desktop Entry]
Name=KDE Connect Application
Name[ca]=Aplicació KDE Connect
Name[nl]=KDE Connect-toepassing
Name[pt]=Aplicação do KDE Connect
Name[pt_BR]=Aplicativo KDE Connect
Name[sv]=Programmet KDE-anslut
Name[uk]=Програма KDE Connect
Name[x-test]=xxKDE Connect Applicationxx
GenericName=Device Synchronization
GenericName[ca]=Sincronització de dispositius
GenericName[nl]=Synchronisatie van apparaat
GenericName[pt]=Sincronização de Dispositivos
GenericName[pt_BR]=Sincronização de dispositivo
GenericName[sv]=Enhetssynkronisering
GenericName[uk]=Синхронізація із пристроями
GenericName[x-test]=xxDevice Synchronizationxx
Comment=Make all your devices one
Comment[ca]=Fa que tots els vostres dispositius siguin un
Comment[nl]=Al uw apparaten een maken
Comment[pt]=Unifique todos os seus dispositivos
Comment[pt_BR]=Torne todos os seus dispositivos em um
Comment[sv]=Gör alla enheter till en
Comment[uk]=Поєднайте усі ваші пристрої
Comment[x-test]=xxMake all your devices onexx
Exec=kcapp
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network
