[Desktop Entry]
Name=KDE Connect
Name[ml]=കെ.ഡി.ഇ കണക്റ്റ്
GenericName=Device Synchronization
Comment=Make all your devices one
Exec=kdeconnect-app
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network
