[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_battery
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_battery
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=battery-100
Name=Battery monitor
Name[bs]=Kontrolor baterije
Name[cs]=Monitor baterie
Name[da]=Batteriovervågning
Name[de]=Akkuüberwachung
Name[es]=Monitor de la batería
Name[fr]=Moniteur de batterie
Name[hu]=Akkumulátorfigyelő
Name[it]=Monitor batteria
Name[ko]=배터리 모니터
Name[nl]=Batterijmonitor
Name[pl]=Monitor baterii
Name[pt]=Monitor da bateria
Name[pt_BR]=Monitor de bateria
Name[ro]=Monitorul acumulatorului
Name[ru]=Индикатор батареи
Name[sk]=Monitor batérie
Name[sv]=Batteriövervakare
Name[tr]=Pil izleyici
Name[uk]=Монітор акумулятора
Name[x-test]=xxBattery monitorxx
Comment=Show your phone battery next to your computer battery
Comment[bs]=Prikažite Vašu bateriju sa mobilnog telefona poted Vaše računarske baterije
Comment[cs]=Zobrazit baterku vašeho telefonu vedle baterie vašeho notebooku
Comment[da]=Vis dit telefonbatteri ved siden af din computers batteri
Comment[de]=Zeigt den Akku Ihres Telefons neben dem Akku des Rechners
Comment[es]=Muestra la batería de su teléfono junto a la batería de su equipo
Comment[fr]=Affichez la batterie de votre téléphone près de la batterie de votre téléphone
Comment[hu]=A telefon akkumulátorának megjelenítése a számítógép akkumulátora mellett
Comment[it]=Mostra il livello batteria del tuo telefono accanto a quella del computer
Comment[ko]=폰 배터리와 컴퓨터 배터리 동시 확인
Comment[nl]=Uw telefoonbatterij naast uw computerbatterij tonen
Comment[pl]=Pokaż baterię swojego telefonu obok baterii komputera
Comment[pt]=Mostra a bateria do seu telemóvel ao lado da do computador
Comment[pt_BR]=Mostra a bateria do seu celular ao lado da bateria do computador
Comment[ru]=Показывать значок батареи устройства рядом со значком батареи компьютера
Comment[sk]=Zobraziť batériu vášho telefónu pri batérii počítača
Comment[sv]=Visa telefonens batteri intill datorbatteriet
Comment[tr]=Bilgisayar pilinizin yanında telefon pil durumunu göster
Comment[uk]=Показ даних щодо рівня заряду акумулятора на телефоні поряд з даними щодо рівня заряду акумулятора комп’ютера
Comment[x-test]=xxShow your phone battery next to your computer batteryxx

X-KdeConnect-SupportedPackageType=kdeconnect.battery
