[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_mousepad
X-KDE-PluginInfo-Author=Ahmed I. Khalil
X-KDE-PluginInfo-Email=ahmedibrahimkhali@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_mousepad
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=input-mouse
Name=Touchpad
Name[ca]=Plafó tàctil
Name[cs]=Touchpad
Name[da]=Touchpad
Name[de]=Touchpad
Name[es]=Cursor del ratón
Name[fi]=Kosketuslevy
Name[fr]=Pavé tactile
Name[hu]=Érintőtábla
Name[ko]=터치패드
Name[nl]=Touchpad
Name[pl]=Gładzik
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[sk]=Touchpad
Name[sv]=Tryckplatta
Name[uk]=Сенсорна панель
Name[x-test]=xxTouchpadxx
Comment=Use your phone as a touchpad
Comment[ca]=Usa el vostre telèfon com un plafó tàctil
Comment[cs]=Používejte svůj telefon jako touchpad
Comment[da]=Brug din telefon som touchpad
Comment[de]=Verwendet Ihr Handy als Touchpad
Comment[es]=Usar su teléfono como cursor del ratón
Comment[fi]=Käytä puhelinta kosketuslevynä
Comment[fr]=Utilisez votre téléphone comme un pavé tactile
Comment[hu]=A telefon használata érintőtáblaként
Comment[ko]=내 장치를 터치패드로 사용하기
Comment[nl]=Uw telefoon gebruiken als touchpad
Comment[pl]=Użyj swojego telefonu jako gładzika
Comment[pt]=Usar o seu telemóvel como painel de rato
Comment[pt_BR]=Use seu celular como touchpad
Comment[sk]=Použiť váš mobil ako touchpad
Comment[sv]=Använd telefonen som en tryckplatta
Comment[uk]=Використання телефону як сенсорної панелі
Comment[x-test]=xxUse your phone as a touchpadxx

X-KdeConnect-SupportedPackageType=kdeconnect.mousepad
X-KdeConnect-OutgoingPackageType=kdeconnect.mousepad

