[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_mousepad
X-KDE-PluginInfo-Author=Ahmed I. Khalil
X-KDE-PluginInfo-Email=ahmedibrahimkhali@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_mousepad
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=input-mouse
Name=Mousepad
Name[ca]=Catifa del ratolí
Name[da]=Museplade
Name[nl]=Muispad
Name[pt]=Painel de Rato
Name[pt_BR]=Mousepad
Name[sv]=Musplatta
Name[uk]=Килимок для миші
Name[x-test]=xxMousepadxx
Comment=Use your phone as a mousepad
Comment[ca]=Usa el vostre telèfon com una catifa del ratolí
Comment[da]=Brug din telefon som museplade
Comment[nl]=Uw telefoon gebruiken als muispad
Comment[pt]=Usar o seu telemóvel como painel de rato
Comment[pt_BR]=Use seu celular como mousepad
Comment[sv]=Använd telefonen som en musplatta
Comment[uk]=Використання телефону як килимка для миші
Comment[x-test]=xxUse your phone as a mousepadxx

X-KdeConnect-SupportedPackageType=kdeconnect.mousepad
X-KdeConnect-OutgoingPackageType=kdeconnect.mousepad

