[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_sftp
X-KDE-PluginInfo-Author=Samoilenko Yuri
X-KDE-PluginInfo-Email=kinnalru@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_sftp
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=system-file-manager
Name=Remote filesystem browser
Name[de]=Datei-Browser für entferne Systeme
Name[nl]=Bestandssysteembrowser op afstand
Name[pt]=Navegador do sistema de ficheiros remoto
Name[sv]=Fjärrfilsystembläddrare
Name[uk]=Перегляд віддалених файлових систем
Name[x-test]=xxRemote filesystem browserxx
Comment=Browse the remote device filesystem using SFTP
Comment[de]=Browsen im Dateisystem des entfernten Geräts mit SFTP
Comment[nl]=Blader door het bestandssysteem met SFTP op het apparaat op afstand
Comment[pt]=Navegue pelo sistema de ficheiros do dispositivo por SFTP
Comment[sv]=Bläddra i fjärrenhetens filsystem med SFTP
Comment[uk]=Перегляд файлових систем на сторонніх пристроях за допомогою SFTP
Comment[x-test]=xxBrowse the remote device filesystem using SFTPxx

X-KdeConnect-SupportedPackageType=kdeconnect.sftp
