[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kdeconnect_sftp_config
X-KDE-ParentComponents=kdeconnect_sftp

Name=SFTP filebrowser plugin settings
Name[uk]=Настройки SFTP обозревателя
Name[ru]=Настройки SFTP обозревателя

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
