[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kdeconnect_share_config
X-KDE-ParentComponents=kdeconnect_share

Name=Share plugin settings

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
