[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_filetransfer
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_filetransfer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=folder-downloads
Name=(Stub) File transfer
Name[nl]=(Stub) bestandsoverdracht
Name[pt]=(Interface) Transferência de ficheiros
Name[pt_BR]=(Interface) Transferência de arquivos
Name[sv]=Filöverföring (markör)
Name[uk]=Модуль передавання файлів (фіктивний)
Name[x-test]=xx(Stub) File transferxx
Comment=Send and receive files from dolphin
Comment[de]=Dateien aus Dolphin senden und empfangen
Comment[es]=Enviar y recibir archivos desde dolphin
Comment[nl]=Bestanden verzenden en ontvangen vanuit dolphin
Comment[pt]=Enviar e receber ficheiros a partir do Dolphin
Comment[pt_BR]=Envia e recebe arquivos a partir do Dolphin
Comment[sv]=Skicka och ta emot filer med Dolphin
Comment[uk]=Надсилання і отримання файлів з dolphin
Comment[x-test]=xxSend and receive files from dolphinxx
