[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KdeConnect/Plugin
X-KDE-Derived=KPluginInfo
Name=KDEConnect Plugin
Name[bs]=Priključak za KDE konekciju
Name[cs]=Modul KDEConnect
Name[da]=KDEConnect-plugin
Name[de]=KDEConnect-Modul
Name[es]=Complemento de KDEConnect
Name[fr]=Module externe KDEConnect
Name[hu]=KDEConnect bővítmény
Name[it]=Estensione KDEConnect
Name[ko]=KDEConnect 플러그인
Name[nl]=Plug-in van KDEConnect
Name[pl]=Wtyczka KDEConnect
Name[pt]='Plugin' do KDEConnect
Name[pt_BR]=Plugin do KDEConnect
Name[ro]=Extensie KDEConnect
Name[ru]=Модуль KDEConnect
Name[sk]=Plugin KDEConnect
Name[sv]=KDE anslutningsinsticksprogram
Name[tr]=KDEConnect Eklentisi
Name[uk]=Додаток KDEConnect
Name[x-test]=xxKDEConnect Pluginxx

# mandatory, list of all the package types supported
[PropertyDef::X-KdeConnect-SupportedPackageType]
Type=QStringList
