[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KdeConnect/Plugin
X-KDE-Derived=KPluginInfo
Name=KDEConnect Plugin
Name[de]=KDEConnect-Modul
Name[pt]='Plugin' do KDEConnect
Name[pt_BR]=Plugin do KDEConnect
Name[sv]=KDE anslutningsinsticksprogram
Name[uk]=Додаток KDEConnect
Name[x-test]=xxKDEConnect Pluginxx
