[Desktop Entry]
Icon=kdeconnect
Name=KDE Connect Devices
Name[ar]=أجهزة «جسر كِيدِي»
Name[bg]=KDE Connect Устройства
Name[ca]=Dispositius del KDE Connect
Name[ca@valencia]=Dispositius de KDE Connect
Name[cs]=Zařízení KDE Connect
Name[de]=„KDE Connect“-Geräte
Name[es]=Dispositivos de KDE Connect
Name[eu]=KDE Connect gailuak
Name[fr]=Périphériques de KDEConnect
Name[ga]=Gléasanna KDE Connect
Name[he]=מכשירי KDE Connect
Name[ia]=Dispositivos de KDE Connect
Name[is]=KDE Connect tæki
Name[it]=Dispositivi di KDE Connect
Name[ka]=KDE Connect-ის მოწყობილობები
Name[ko]=KDE Connect 장치
Name[lt]=KDE Connect įrenginiai
Name[nl]=Apparaten van KDE Connect
Name[pl]=Urządzenia KDE Connect
Name[pt_BR]=Dispositivos KDE Connect
Name[ro]=Dispozitive KDE Connect
Name[ru]=Устройства KDE Connect
Name[sk]=Nastavenia aplikácie KDE Connect
Name[sl]=Naprave s KDE Connect
Name[tr]=KDE Bağlan Aygıtları
Name[uk]=Пристрої KDE Connect
Name[zh_CN]=KDE Connect 设备
Name[zh_TW]=KDE Connect 裝置
Type=Link
URL=kdeconnect:/
