[Desktop Entry]
X-KDE-Solid-Predicate=PortableMediaPlayer.supportedProtocols == 'kdeconnect'
Type=Service
Actions=open;

[Desktop Action open]
Exec=kioclient exec kdeconnect://%j/
Icon=system-file-manager
Name=Browse Files with File Manager
Name[ar]=تصفح الملفات بمدير الملفّات
Name[bg]=Преглеждане на файлове с файлов мениджър
Name[ca]=Navega pels fitxers amb el gestor de fitxers
Name[ca@valencia]=Navega pels fitxers amb el gestor de fitxers
Name[cs]=Prohlížet soubory ve správci souborů
Name[de]=Dateien mit Dateiverwaltung durchsuchen
Name[es]=Navegue archivos con el administrador de archivos
Name[fr]=Naviguer parmi les fichiers avec le gestionnaire de fichiers
Name[he]=עיון בקבצים עם מנהל הקבצים
Name[ia]=Naviga inter files con le gerente de file (File Manager)
Name[is]=Skoða skrár með skráastjóra
Name[it]=Esplora i file con il gestore file
Name[ja]=ファイルマネージャでファイルを閲覧
Name[ka]=ფაილების მმართველით დათვალიერება
Name[ko]=파일 관리자로 파일 탐색
Name[lt]=Naršyti failus naudojant failų tvarkytuvę
Name[nl]=Door bestanden bladeren met bestandsbeheerder
Name[pl]=Przeglądanie plików w przeglądarce
Name[pt_BR]=Navegar pelos arquivos com o Gerenciador de arquivos
Name[ro]=Răsfoiește fișiere cu gestionarul de fișiere
Name[sk]=Prehliadať súbory správcom súborov
Name[sl]=Brskaj po datotekah z upravljalnikom datotek
Name[tr]=Dosya Yöneticisiyle Dosyalara Bak
Name[ug]=ھۆججەت باشقۇرغۇچتا ھۆججەتكە كۆز يۈگۈرتىدۇ
Name[uk]=Переглянути файли у програмі для керування файлами
Name[zh_CN]=用文件管理器浏览文件
Name[zh_TW]=用檔案管理員瀏覽檔案
