[Desktop Entry]
Type=Application
Version=0.1
Encoding=UTF-8
Exec=kdeconnect-handler %F
Icon=kdeconnect
Name=Send via KDE Connect
Name[ca]=Envia a través del KDE Connect
Name[ca@valencia]=Envia a través del KDE Connect
Name[gl]=Enviar mediante KDE Connect
Name[nl]=Via KDE Connect versturen
Name[pt]=Enviar pelo KDE Connect
Name[sv]=Skicka via KDE-anslut
Name[uk]=Надіслати за допомогою KDE Connect
Name[x-test]=xxSend via KDE Connectxx
