[Desktop Entry]
GenericName=Open on connected device via KDE Connect
GenericName[ca]=Obre al dispositiu connectat a través del KDE Connect
GenericName[cs]=Otevřít na připojeném zařízení přes KDE Connect
GenericName[es]=Abrir en dispositivo conectado a través de KDE Connect
GenericName[it]=Apri nel dispositivo connesso tramite KDE Connect
GenericName[ko]=KDE Connect로 연결된 장치에서 열기
GenericName[nl]=Op verbonden apparaat openen via KDE Connect
GenericName[nn]=Opna på tilkopla eining via KDE Connect
GenericName[pl]=Otwórz na podłączonym urządzeniu przez KDE Connect
GenericName[pt]=Abrir no dispositivo ligado com o KDE Connect
GenericName[pt_BR]=Abrir no dispositivo conectado via KDE Connect
GenericName[ru]=Открыть подключённое устройство через KDE Connect
GenericName[uk]=Відкрити на з'єднаному пристрої за допомогою KDE Connect
GenericName[x-test]=xxOpen on connected device via KDE Connectxx
Name=Open on connected device via KDE Connect
Name[ca]=Obre al dispositiu connectat a través del KDE Connect
Name[cs]=Otevřít na připojeném zařízení přes KDE Connect
Name[es]=Abrir en dispositivo conectado a través de KDE Connect
Name[it]=Apri nel dispositivo connesso tramite KDE Connect
Name[ko]=KDE Connect로 연결된 장치에서 열기
Name[nl]=Op verbonden apparaat openen via KDE Connect
Name[nn]=Opna på tilkopla eining via KDE Connect
Name[pl]=Otwórz na podłączonym urządzeniu przez KDE Connect
Name[pt]=Abrir no dispositivo ligado com o KDE Connect
Name[pt_BR]=Abrir no dispositivo conectado via KDE Connect
Name[ru]=Открыть подключённое устройство через KDE Connect
Name[uk]=Відкрити на з'єднаному пристрої за допомогою KDE Connect
Name[x-test]=xxOpen on connected device via KDE Connectxx
Comment=Open on a connected device using KDE Connect
Comment[ca]=Obre a un dispositiu connectat usant el KDE Connect
Comment[cs]=Otevřít na připojeném zařízení pomocí KDE Connect
Comment[es]=Abrir en dispositivo conectado a través de KDE Connect
Comment[it]=Apri in un dispositivo connesso usando KDE Connect
Comment[ko]=KDE Connect로 연결된 장치에서 열기
Comment[nl]=Op een verbonden apparaat openen via KDE Connect
Comment[nn]=Opna på ei tilkopla eining via KDE Connect
Comment[pl]=Otwórz na podłączonym urządzeniu przez KDE Connect
Comment[pt]=Abrir num dispositivo ligado com o KDE Connect
Comment[pt_BR]=Abre no dispositivo conectado usando o KDE Connect
Comment[ru]=Открытие подключённого устройства через KDE Connect
Comment[uk]=Відкрити на з'єднаному пристрої за допомогою KDE Connect
Comment[x-test]=xxOpen on a connected device using KDE Connectxx
MimeType=*/*;
Exec=kdeconnect-handler --open %U
Icon=kdeconnect
Type=Service
Terminal=false
Categories=Qt;KDE;Network;
