[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_clipboard
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_clipboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=edit-paste
Name=Clipboard
Name[bs]=Clipboard
Name[cs]=Schránka
Name[da]=Udklipsholder
Name[de]=Zwischenablage
Name[es]=Portapapeles
Name[fr]=Presse-papiers
Name[hu]=Vágólap
Name[it]=Appunti
Name[ko]=클립보드
Name[nl]=Klembord
Name[pl]=Schowek
Name[pt]=Área de Transferência
Name[pt_BR]=Área de transferência
Name[ro]=Clipboard
Name[ru]=Буфер обмена
Name[sk]=Schránka
Name[sv]=Klippbord
Name[tr]=Pano
Name[uk]=Буфер обміну
Name[x-test]=xxClipboardxx
Comment=Share the clipboard between devices
Comment[bs]=Podijeli Clipboard među uređajima
Comment[cs]=Sdílejte schránku mezi zařízeními
Comment[da]=Del indholdet af udklipsholderen mellem enheder
Comment[de]=Die Zwischenablage mit Geräten teilen
Comment[es]=Compartir el portapapeles entre dispositivos
Comment[fr]=Partagez le presse-papiers entre périphériques
Comment[hu]=Vágólap megosztása az eszközök között
Comment[it]=Condividi gli appunti tra i dispositivi
Comment[ko]=장치간 클립보드 공유
Comment[nl]=Het klembord tussen apparaten delen
Comment[pl]=Współdziel schowek pomiędzy urządzeniami
Comment[pt]=Partilhar a área de transferência entre dispositivos
Comment[pt_BR]=Compartilhar a área de transferência entre dispositivos
Comment[ro]=Partajează clipboardul între dispozitive
Comment[ru]=Общий буфер обмена для всех устройств
Comment[sk]=Zdieľať schránku medzi zariadeniami
Comment[sv]=Dela klippbordet mellan apparater
Comment[tr]=Aygıtlar arasında panoyu paylaştır
Comment[uk]=Спільне використання буфера обміну даними на пристроях
Comment[x-test]=xxShare the clipboard between devicesxx

X-KdeConnect-SupportedPackageType=kdeconnect.clipboard
