[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_notifications
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_notifications
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=preferences-desktop-notification
Name=Notification sync
Name[de]=Benachrichtigungs-Abgleich
Name[es]=Sincronizar notificaciones
Name[fr]=Synchronisation de notifications
Name[hu]=Értesítés szinkronizáció
Name[it]=Sincronizzazione notifiche
Name[nl]=Synchronisatie van meldingen
Name[pt]=Sincronização de notificações
Name[pt_BR]=Sincronização de notificações
Name[ru]=Синхронизация уведомлений
Name[sk]=Synchronizácia pripomienok
Name[sv]=Synkronisering av underrättelser
Name[tr]=Bildirim eşitleme
Name[uk]=Синхронізація сповіщень
Name[x-test]=xxNotification syncxx
Comment=Show phone notifications in KDE and keep them in sync
Comment[de]=Benachrichtigungen in KDE anzeigen und abgleichen
Comment[es]=Mostrar las notificaciones del teléfono en KDE y mantenerlas sincronizadas
Comment[fr]=Affichez les notifications du téléphone dans KDE et conservez-les lors de la synchronisation
Comment[hu]=Telefonértesítések megjelenítése a KDE-ben és szinkronizálva tartása
Comment[it]=Mostra e sincronizza le notifiche del telefono in KDE
Comment[nl]=Telefoonmeldingen in KDE tonen en ze gesynchroniseerd houden
Comment[pt]=Mostrar as notificações do telefone no KDE e mantê-las sincronizadas
Comment[pt_BR]=Mostra as notificações do celular no KDE e as mantem sincronizadas
Comment[ru]=Показывать телефонные уведомления в KDE и синхронизировать их
Comment[sv]=Visa telefonunderrättelser i KDE och håll dem synkroniserade
Comment[tr]=Telefon bildirimlerini KDE içinde eşitler ve eşzamanlı tutar
Comment[uk]=Показ сповіщень з телефону у KDE та підтримання синхронізації даних сповіщень
Comment[x-test]=xxShow phone notifications in KDE and keep them in syncxx

X-KdeConnect-SupportedPackageType=kdeconnect.notification
