[Desktop Entry]
Type=Service
Name=Send file via KDE Connect service
Name[ca]=Envia un fitxer a través del servei KDE Connect
Name[cs]=Poslat soubor přes službu KDE Connect
Name[da]=Send fil via KDE Connect-tjeneste
Name[de]=Datei mit KDE-Connect -Dienst versenden
Name[es]=Enviar archivo usando el servicio KDE Connect
Name[fi]=Lähetä tiedosto KDE-Connect-palvelulla
Name[fr]=Envoyer un fichier via le service KDE Connect
Name[hu]=Fájl küldése a KDE csatlakozás szolgáltatáson keresztül
Name[ko]=KDE Connect 서비스로 파일 보내기
Name[nl]=Bestand via de service KDE Connect versturen
Name[pl]=Wyślij plik przez usługę KDE Connect
Name[pt]=Enviar um ficheiro pelo serviço KDE Connect
Name[pt_BR]=Enviar um arquivo pelo serviço KDE Connect
Name[sk]=Poslať súbor cez službu KDE Connect
Name[sv]=Skicka fil via KDE:s anslutningstjänst
Name[uk]=Надсилання файла за допомогою служби з’єднання KDE
Name[x-test]=xxSend file via KDE Connect servicexx
X-KDE-Library=kdeconnectfiletiemaction
X-KDE-Submenu=Connect
X-KDE-Submenu[ca]=Connecta
X-KDE-Submenu[cs]=Připojit
X-KDE-Submenu[da]=Forbind
X-KDE-Submenu[de]=Verbinden
X-KDE-Submenu[es]=Conectar
X-KDE-Submenu[fi]=Yhdistä
X-KDE-Submenu[fr]=Connecter
X-KDE-Submenu[hu]=Csatlakozás
X-KDE-Submenu[ko]=연결
X-KDE-Submenu[nl]=Verbinden
X-KDE-Submenu[pl]=Połącz
X-KDE-Submenu[pt]=Ligar
X-KDE-Submenu[pt_BR]=Conectar
X-KDE-Submenu[sk]=Pripojiť
X-KDE-Submenu[sv]=Anslut
X-KDE-Submenu[uk]=З’єднання
X-KDE-Submenu[x-test]=xxConnectxx

Icon=preferences-system-network
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream
