[Desktop Entry]
Type=Service
Name=Send file via KDE Connect service
Name[ca]=Envia el fitxer a través del servei KDE Connect
Name[ca@valencia]=Envia el fitxer a través del servei KDE Connect
Name[gl]=Enviar o ficheiro mediante o servizo de KDE Connect
Name[nl]=Bestand via KDE Connect-service versturen
Name[pt]=Enviar o ficheiro pelo serviço do KDE Connect
Name[sv]=Skicka fil via KDE:s anslutningstjänst
Name[uk]=Надіслати файл за допомогою служби KDE Connect
Name[x-test]=xxSend file via KDE Connect servicexx
Name[zh_TW]=使用 KDE Connect 服務傳送檔案
X-KDE-Library=kdeconnectfileitemaction
X-KDE-Submenu=Connect
X-KDE-Submenu[ar]=اتّصل,اتصل
X-KDE-Submenu[bg]=Свързване
X-KDE-Submenu[bs]=Uspostavi vezu
X-KDE-Submenu[ca]=Connecta
X-KDE-Submenu[ca@valencia]=Connecta
X-KDE-Submenu[da]=Forbind
X-KDE-Submenu[de]=Verbinden
X-KDE-Submenu[el]=Σύνδεση
X-KDE-Submenu[en_GB]=Connect
X-KDE-Submenu[et]=Ühendus
X-KDE-Submenu[eu]=Konektatu
X-KDE-Submenu[fi]=Yhdistä
X-KDE-Submenu[fr]=Connecter
X-KDE-Submenu[gl]=Conectar
X-KDE-Submenu[he]=חיבור
X-KDE-Submenu[hu]=Csatlakozás
X-KDE-Submenu[ia]=Connecte
X-KDE-Submenu[id]=Connect
X-KDE-Submenu[it]=Connetti
X-KDE-Submenu[ko]=연결
X-KDE-Submenu[nl]=Verbinden
X-KDE-Submenu[pl]=Połącz
X-KDE-Submenu[pt]=Connect
X-KDE-Submenu[ru]=KDE Connect
X-KDE-Submenu[sk]=Pripojiť
X-KDE-Submenu[sv]=Anslut
X-KDE-Submenu[tr]=Bağlan
X-KDE-Submenu[uk]=З’єднання
X-KDE-Submenu[x-test]=xxConnectxx
X-KDE-Submenu[zh_TW]=連線

Icon=preferences-system-network
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream
