[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kdeconnect_sendnotifications_config
X-KDE-ParentComponents=kdeconnect_sendnotifications

Name=Notification synchronization plugin settings

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
