[Desktop Entry]
Name=KDE Connect SMS URL Handler
Name[ca]=Gestor d'URL de SMS del KDE Connect
Name[ca@valencia]=Gestor d'URL de SMS del KDE Connect
Name[cs]=Nástroj pro práci s URL v SMS pro KDE Connect
Name[de]=KDE-Connect-SMS-Dienstprogramm für URLs (Adressen)
Name[en_GB]=KDE Connect SMS URL Handler
Name[es]=Controlador de URL de SMS de KDE Connect
Name[et]=KDE Connecti SMS-i URL-ide käitleja
Name[eu]=KDE Connecten SMSen URL maneiatzailea
Name[fr]=Gestionnaire d'URL SMS de KDE Connect
Name[gl]=Xestor de URL de SMS de KDE Connect
Name[it]=Gestore URL SMS di KDE Connect
Name[ko]=KDE Connect SMS URL 처리기
Name[lt]=KDE Connect SMS URL doroklė
Name[nl]=URL behandelaar van KDE-Connect-SMS
Name[nn]=SMS-URL-handsamar for KDE Connect
Name[pl]=KDE Connect - obsługa URL SMSów
Name[pt]=Tratamento de URL's de SMS do KDE Connect
Name[pt_BR]=Tratamento de URLs de SMS do KDE Connect
Name[ru]=Обработчик ссылок из SMS KDE Connect
Name[sk]=Spracovateľ KDE Connect SMS URL
Name[sv]=KDE-anslut hanterare av SMS-webbadress
Name[uk]=Обробник адрес у SMS KDE Connect
Name[x-test]=xxKDE Connect SMS URL Handlerxx
Name[zh_CN]=KDE Connect 短信 URL 处理程序
Name[zh_TW]=KDE 連線簡訊網址處理器
Exec=kdeconnect-handler %U
Icon=kdeconnect
Type=Application
NoDisplay=true

MimeType=x-scheme-handler/sms
