[Desktop Entry]
Name=KDE Connect Phone URL Handler
Name[ca]=Gestor d'URL de telèfons del KDE Connect
Name[ca@valencia]=Gestor d'URL de telèfons del KDE Connect
Name[cs]=Nástroj pro práci s URL telefonu v KDE Connect
Name[da]=Telefon-URL-håndtering til KDE Connect
Name[de]=KDE-Connect-Telefon-Dienstprogramm für URLs (Adressen)
Name[el]=KDE Connect χειριστής URL για σύνδεση τηλεφώνου
Name[en_GB]=KDE Connect Phone URL Handler
Name[es]=Controlador de URL de teléfonos de KDE Connect
Name[eu]=KDE Connect-en URL-kudeatzailea
Name[fr]=Gestionnaire d'URL téléphoniques de KDE Connect
Name[gl]=Manexador de URL de teléfono de KDE Connect
Name[it]=Gestore URL del telefono di KDE Connect
Name[nl]=URL behandelaar van KDE-Connect-telefoon
Name[nn]=Telefon-URL-handsamar for KDE Connect
Name[pl]=KDE Connect - obsługa URL telefonu
Name[pt]=Tratamento de URL's Telefónicos do KDE Connect
Name[ru]=Обработчик телефонных ссылок KDE Connect
Name[sr]=КДЕ‑конекцијин руковалац телефонским УРЛ‑овима
Name[sr@ijekavian]=КДЕ‑конекцијин руковалац телефонским УРЛ‑овима
Name[sr@ijekavianlatin]=KDE‑konekcijin rukovalac telefonskim URL‑ovima
Name[sr@latin]=KDE‑konekcijin rukovalac telefonskim URL‑ovima
Name[sv]=KDE-anslut hanterare av telefonwebbadress
Name[tr]=KDE Connect Telefon URL İşleyici
Name[uk]=Обробник телефонних адрес KDE Connect
Name[x-test]=xxKDE Connect Phone URL Handlerxx
Name[zh_CN]=KDE Connect 电话 URL 处理程序
Exec=kdeconnect-handler %U
Icon=kdeconnect
Type=Application
NoDisplay=true

MimeType=x-scheme-handler/tel
