[Desktop Entry]
Name=KDE Connect URL Handler
Name[ca]=Gestor d'URL del KDE Connect
Name[fr]=Gestionnaire d'URL de KDE Connect
Name[nl]=URL behandelaar van KDE-Connect
Name[nn]=KDE Connect adressehandsamar
Name[uk]=Обробник адрес KDE Connect
Name[x-test]=xxKDE Connect URL Handlerxx
Exec=kdeconnect-handler %U
Icon=kdeconnect
Type=Application
NoDisplay=true

MimeType=x-scheme-handler/tel;x-scheme-handler/sms
