[Desktop Entry]
Name=KDE Connect URL Handler
Exec=kdeconnect-handler %U
Icon=kdeconnect
Type=Application
NoDisplay=true

MimeType=x-scheme-handler/tel;x-scheme-handler/sms
