[Desktop Entry]
Name=KDE Connect Phone URL Handler
Name[ca]=Gestor d'URL de telèfons del KDE Connect
Name[pt]=Tratamento de URL's no Telefone do KDE Connect
Name[sv]=KDE-anslut hanterare av telefonwebbadress
Name[tr]=KDE Connect Telefon URL İşleyici
Name[uk]=Обробник телефонних адрес KDE Connect
Name[x-test]=xxKDE Connect Phone URL Handlerxx
Exec=kdeconnect-handler %U
Icon=kdeconnect
Type=Application
NoDisplay=true

MimeType=x-scheme-handler/tel
