[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kdeconnect_findthisdevice_config
X-KDE-ParentComponents=kdeconnect_findthisdevice

Name=Find This Device plugin settings
Name[ca]=Cerca els ajustaments d'aquest connector de dispositiu
Name[ca@valencia]=Cerca els ajustaments d'aquest connector de dispositiu
Name[cs]=Nastavení modulu Najít toto zařízení
Name[de]=Modul-Einstellungen diese Geräts suchen
Name[en_GB]=Find This Device plugin settings
Name[es]=Preferencias del complemento «Encontrar este dispositivo»
Name[et]=Seadme leidmise plugina seadistused
Name[eu]=«Aurkitu gailu hau» pluginaren ezarpenak
Name[fi]=Etsi tämä laite -liitännäisen asetukset
Name[fr]=Paramètres du module Trouver ce périphérique
Name[gl]=Configuración do complemento de atopar o dispositivo
Name[id]=Pengesetan plugin Temukan Perangkat Ini
Name[it]=Impostazioni dell'estensione Trova questo dispositivo
Name[ko]=이 장치 플러그인 설정 찾기
Name[lt]=Rasti šį įrenginį priedo nuostatos
Name[nl]=Plug-in-instellingen van dit apparaat zoeken
Name[nn]=Innstillingar for einingsfinning
Name[pl]=Ustawienia wtyczki znajdowania tego urządzenia
Name[pt]=Configuração do 'plugin' para Procurar Este Dispositivo
Name[pt_BR]=Configurações do plugin Procurar Este Dispositivo
Name[ru]=Настройка модуля поиска устройства
Name[sk]=Nastavenia pluginu na nájdenie zariadenia
Name[sv]=Inställningar av insticksprogrammet Hitta apparaten
Name[uk]=Параметри додатка пошуку пристрою
Name[x-test]=xxFind This Device plugin settingsxx
Name[zh_CN]=查找此设备插件设置
Name[zh_TW]=尋找此裝置的外掛設定

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
