[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kdeconnect_findthisdevice_config
X-KDE-ParentComponents=kdeconnect_findthisdevice

Name=Find This Device plugin settings
Name[ca]=Troba els ajustaments d'aquest connector de dispositiu
Name[ca@valencia]=Troba els ajustaments d'aquest connector de dispositiu
Name[cs]=Nastavení modulu Najít toto zařízení
Name[de]=Modul-Einstellungen diese Geräts suchen
Name[en_GB]=Find This Device plugin settings
Name[es]=Preferencias del complemento «Encontrar este dispositivo»
Name[gl]=Configuración do complemento de atopar o dispositivo
Name[it]=Impostazioni estensione Trova questo dispositivo
Name[nl]=Plug-in-instellingen van dit apparaat zoeken
Name[nn]=Innstillingar for einingsfinning
Name[pt]=Configuração do 'plugin' para Procurar Este Dispositivo
Name[sv]=Inställningar av insticksprogrammet Hitta apparaten
Name[uk]=Параметри додатка пошуку пристрою
Name[x-test]=xxFind This Device plugin settingsxx

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
