[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kdeconnect_findthisdevice_config
X-KDE-ParentComponents=kdeconnect_findthisdevice

Name=Find This Device plugin settings

Categories=Qt;KDE;X-KDE-settings-kdeconnect;
