[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_pausemusic
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_pausemusic
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=speaker
Name=Pause media during calls
Name[bg]=Поставяне медията на пауза при обаждания
Name[bs]=Pauziraj medij prilikom poziva
Name[ca]=Pausa els suports durant les trucades
Name[cs]=Pozastavit média během hovoru
Name[da]=Sæt medier på pause under opkald
Name[de]=Medium bei Anrufen anhalten
Name[es]=Pausar multimedia durante las llamadas
Name[fi]=Keskeytä toisto puhelujen aikana
Name[fr]=Mettre en pause le média pendant les appels
Name[hu]=Média szüneteltetése hívások közben
Name[it]=Pausa durante le chiamate
Name[ko]=통화 중 미디어 일시 정지
Name[nl]=Media pauzeren tijdens oproepen
Name[pl]=Wstrzymaj multimedia przy dzwonieniu
Name[pt]=Pausar os conteúdos durante as chamadas
Name[pt_BR]=Pausar os conteúdos multimídia durante as chamadas
Name[ru]=Останавливать проигрывание мультимедия во время звонков
Name[sk]=Pozastaviť médiá počas hovorov
Name[sv]=Pausa media under samtal
Name[tr]=Çağrılar sırasında ortamı duraklat
Name[uk]=Призупинка відтворення під час дзвінків
Name[x-test]=xxPause media during callsxx
Comment=Pause music/videos during a phone call
Comment[bg]=Спиране музиката/видеото при позвъняване на телефона
Comment[bs]=Stopiraj muziku/videe prilikom poziva
Comment[ca]=Pausa la música i els vídeos durant una trucada telefònica
Comment[cs]=Pozastavit hudbu/videa během hovoru
Comment[da]=Sæt musik/video på pause under telefonopkald
Comment[de]=Hält Musik oder Videos währen eines Anrufs an
Comment[es]=Pausar la música y los vídeos durante una llamada telefónica
Comment[fi]=Keskeytä musiikki ja videot puhelun aikana
Comment[fr]=Mettre en pause la musique / les vidéos pendant un appel téléphonique
Comment[hu]=Zenék vagy videók szüneteltetése telefonhívás közben
Comment[it]=Mette in pausa la riproduzione audio/video durante una chiamata
Comment[ko]=통화 중 음악/동영상 일시 정지
Comment[nl]=Muziek/video's pauzeren tijdens een telefoongesprek
Comment[pl]=Wstrzymaj muzykę/film przy dzwonieniu
Comment[pt]=Pausar a música/vídeo durante uma chamada
Comment[pt_BR]=Pausa a música/vídeo durante uma chamada
Comment[ru]=Приостанавливать музыку/видео во время телефонного звонка
Comment[sk]=Pozastaviť hudbu/videá počas telefónneho hovoru
Comment[sv]=Pausa musik eller videor under ett telefonsamtal
Comment[tr]=Bir telefon çağrısı sırasında müzik/videoları duraklat
Comment[uk]=Призупинка відтворення музики і відео на час телефонних дзвінків
Comment[x-test]=xxPause music/videos during a phone callxx

X-KdeConnect-SupportedPackageType=kdeconnect.telephony
