[Desktop Entry]
Name=KDE Connect Indicator
Comment=Display information about your devices
Exec=kdeconnect-indicator
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network;
NotShowIn=KDE;

