[Desktop Entry]
Name=KDE Connect Indicator
Name[ca]=Indicador del KDE Connect
Name[ca@valencia]=Indicador del KDE Connect
Name[cs]=Indikátor KDE Connect
Name[da]=KDE Connect-indikator
Name[de]=KDE-Connect-Anzeige
Name[el]=Εφαρμογή ένδειξης KDE Connect
Name[en_GB]=KDE Connect Indicator
Name[es]=Indicador de KDE Connect
Name[eu]=KDE Connect adierazlea
Name[fr]=Indicateur de KDE Connect
Name[gl]=Indicador de KDE Connect
Name[it]=Indicatore di KDE Connect
Name[nl]=KDE-Connect indicator
Name[nn]=KDE Connect-indikator
Name[pl]=Wskaźnik KDE Connect
Name[pt]=Indicador do KDE Connect
Name[ru]=Индикатор KDE Connect
Name[sr]=КДЕ‑конекцијин показатељ
Name[sr@ijekavian]=КДЕ‑конекцијин показатељ
Name[sr@ijekavianlatin]=KDE‑konekcijin pokazatelj
Name[sr@latin]=KDE‑konekcijin pokazatelj
Name[sv]=KDE-anslut indikator
Name[tr]=KDE Connect Göstergesi
Name[uk]=Індикатор KDE Connect
Name[x-test]=xxKDE Connect Indicatorxx
Name[zh_CN]=KDE Connect 指示器
Comment=Display information about your devices
Comment[ar]=اعرض معلومات عن أجهزتك
Comment[ast]=Amuesa información tocante a los tos preseos
Comment[ca]=Mostra la informació dels vostres dispositius
Comment[ca@valencia]=Mostra la informació dels vostres dispositius
Comment[cs]=Zobrazit informace o vašich zařízeních
Comment[da]=Vis information om dine enheder
Comment[de]=Anzeige von Informationen über Ihre Geräte
Comment[el]=Προβολή πληροφοριών σχετικά με τις συσκευές σας
Comment[en_GB]=Display information about your devices
Comment[es]=Mostrar información sobre sus dispositivos
Comment[et]=Teabe kuvamine seadmete kohta
Comment[eu]=Bistaratu zure gailuei buruzko informazioa
Comment[fi]=Näyttää tietoa laitteistasi
Comment[fr]=Afficher les informations de vos périphériques
Comment[gl]=Mostrar información sobre os dispositivos
Comment[he]=הצג מידע עך ההתקנים שלך
Comment[hu]=Információk megjelenítése az eszközeiről
Comment[it]=Visualizza informazioni sui tuoi dispositivi
Comment[ko]=장치 정보 표시
Comment[nl]=Toon informatie over uw apparaten
Comment[nn]=Vis informasjon om einingane dine
Comment[pl]=Wyświetl informacje o twoich urządzeniach
Comment[pt]=Mostrar informações sobre os seus dispositivos
Comment[pt_BR]=Mostra informações sobre seus dispositivos
Comment[ru]=Просмотр информации о мобильных устройствах
Comment[sk]=Zobraziť informácie o vašich zariadeniach
Comment[sr]=Приказује податке о вашем телефону
Comment[sr@ijekavian]=Приказује податке о вашем телефону
Comment[sr@ijekavianlatin]=Prikazuje podatke o vašem telefonu
Comment[sr@latin]=Prikazuje podatke o vašem telefonu
Comment[sv]=Visa information om enheter
Comment[tr]=Aygıtlarınız hakkında bilgi görüntüleyin
Comment[uk]=Показати дані щодо ваших пристроїв
Comment[x-test]=xxDisplay information about your devicesxx
Comment[zh_CN]=显示您设备的信息
Comment[zh_TW]=顯示關於您的裝置資訊
Exec=kdeconnect-indicator
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network;
NotShowIn=KDE;

