[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KdeConnect/Plugin
X-KDE-Library=kdeconnect_share
X-KDE-PluginInfo-Author=Albert Vaca
X-KDE-PluginInfo-Email=albertvaka@gmail.com
X-KDE-PluginInfo-Name=kdeconnect_share
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://albertvaka.wordpress.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=folder-downloads
Name=Share and receive
Name[nl]=Delen en ontvangen
Name[pt]=Partilhar e receber
Name[pt_BR]=Compartilhar e receber
Name[sv]=Dela och ta emot
Name[uk]=Оприлюднення і отримання
Name[x-test]=xxShare and receivexx
Comment=Receive and send files, URLs or plain text easily
Comment[nl]=Bestanden, URL's of platte tekst gemakkelijk ontvangen en verzenden
Comment[pt]=Receber e enviar ficheiros, URL's ou texto de forma simples
Comment[pt_BR]=Recebe e envia facilmente arquivos, URLs ou texto simples
Comment[sv]=Ta emot och skicka filer, webbadresser eller vanlig text enkelt
Comment[uk]=Спрощене отримання і надсилання файлів, адрес або текстових фрагментів
Comment[x-test]=xxReceive and send files, URLs or plain text easilyxx

X-KdeConnect-SupportedPackageType=kdeconnect.share
